body {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
}

h1 {
	color: white;
	font-family: arial;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background-color: #D52B1E;
	float: left;
	width: 96%;
	text-align: center;
	border-bottom: 3px solid #D52B1E;
}

#menu {
	background-color: #D52B1E;
	float: left;
	width: 4%;
	text-align: left;
	font-size: 40px;
}

#menu:hover {
	cursor: pointer;
}

#top {
	display: table-row;
}

.sidenav {
	height: 100%; /* 100% Full-height */
	width: 0; /* 0 width - change this with JavaScript */
	position: fixed; /* Stay in place */
	z-index: 1; /* Stay on top */
	top: 0;
	left: 0;
	background-color: #D52B1E; /* Black*/
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 60px; /* Place content 60px from the top */
	transition: 0.5s;
	/* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: white;
	display: block;
	transition: 0.3s
}

#close:hover, #close:focus {
	background-color: #D52B1E;
	color: black;
}

.closebtn:hover, .closebtn:focus {
	background-color: #D52B1E;
	color: black;
}
/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus {
	color: #f1f1f1;
	background-color: white;
	color: black;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
	transition: margin-left .5s;
	padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 18px;
	}
}

.active {
	background-color: white;
}

a.active {
	color: black;
}

table {
	margin-top: 3%;
	margin-left: 12%;
	width: 80%;
	border-collapse: collapse;
}

tr:nth-of-type(odd) {
	background: #eee;
}

th {
	background: #333;
	color: white;
	font-weight: bold;
}

td, th {
	padding: 6px;
	border: 1px solid #ccc;
	text-align: left;
}

#filters {
	border-collapse: collapse;
	width: 80%;
}

.filterRow {
	padding: none;
	border: none;
	font-weight: none;
}

button {
	display: inline-block;
	padding: 15px 30px;
	font-size: 15px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: #D52B1E;
	border: none;
	border-radius: 8px;
	box-shadow: 0 3px #999;
}

#leerlingOverzicht {
	margin-top: 5%;
}

button:hover {
	background-color: grey;
	color: black;
}

button:active {
	background-color: #D52B1E;
	box-shadow: 0 3px #666;
	transform: translateY(4px);
}

.first-half {
	float: left;
	width: 100%;
	text-align: center;
}

input {
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	background-color: white;
	padding: 12px 20px 12px 40px;
	width: 100%;
}

input:focus {
	border: 3px solid #555;
	background-color: lightblue;
}

select {
	-webkit-appearance: button;
	-webkit-border-radius: 2px;
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
	-webkit-padding-end: 20px;
	-webkit-padding-start: 2px;
	-webkit-user-select: none;
	background-image: url(http://i62.tinypic.com/15xvbd5.png),
		-webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
	background-position: 97% center;
	background-repeat: no-repeat;
	border: 1px solid #AAA;
	color: #555;
	font-size: inherit;
	margin: 20px;
	overflow: hidden;
	padding: 5px 10px;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 95%;
}

#choose {
	background: -webkit-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
	background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
	background: linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
	margin-top: 20%;
	margin-left: 38%;
	width: 20%;
	height: auto;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	font-style: italic;
	line-height: 24px;
	font-weight: bold;
	color: #09C;
	text-decoration: none;
	border-radius: 10px;
	padding: 10px;
	border: 1px solid #999;
	border: inset 1px solid #333;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	text-align: center;
}

#choose button {
	width : 180px;
}

#modalSuccess {
	isplay: block;
	marginTop: -100;
	background-color: lightgreen;
	width: 350px;
	height: 150px;
	text-align: center;
}

#modalSuccess h3 {
	background-color: black;
	color: green;
	text-align: center;
}

#okClose {
	background-color: #555555;
}

#modalError, #modalSmallScreen {
	isplay: block;
	marginTop: -100;
	background-color: #ff8080;
	width: 350px;
	height: 150px;
	text-align: center;
}

#modalError h3 {
	background-color: black;
	color: red;
	text-align: center;
}

#okClose2 {
	background-color: #555555;
}
#insertGeboortedatum2 {
	width: 33%;
}

@media only screen and (max-width: 760px) {
	h1 {
		width: 90%;
	}
	
	#menu {
		width: 10%;
	}
}