body {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
}

h1 {
	color: white;
	font-family: arial;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background-color: #D52B1E;
	float: left;
	width: 96%;
	text-align: center;
	border-bottom: 3px solid #D52B1E;
}

#menu {
	background-color: #D52B1E;
	float: left;
	width: 4%;
	text-align: left;
	font-size: 40px;
}

#menu:hover {
	cursor: pointer;
}

#top {
	display: table-row;
}

.sidenav {
	height: 100%; /* 100% Full-height */
	width: 0; /* 0 width - change this with JavaScript */
	position: fixed; /* Stay in place */
	z-index: 1; /* Stay on top */
	top: 0;
	left: 0;
	background-color: #D52B1E; /* Black*/
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 60px; /* Place content 60px from the top */
	transition: 0.5s;
	/* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: white;
	display: block;
	transition: 0.3s
}

#close:hover, #close:focus {
	background-color: #D52B1E;
	color: black;
}

.closebtn:hover, .closebtn:focus {
	background-color: #D52B1E;
	color: black;
}
/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus {
	color: #f1f1f1;
	background-color: white;
	color: black;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
	transition: margin-left .5s;
	padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 18px;
	}
}

#startButton {
	display: inline-block;
	border-radius: 4px;
	background-color: #f4511e;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 12px;
	padding: 25px;
	width: 160px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
}

#startButton #hover {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

#startButton #hover:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

#startButton:hover #hover {
	padding-right: 25px;
}

#startButton:hover #hover:after {
	opacity: 1;
	right: 0;
}

table {
	margin-left: 38%;
	margin-top: 20%;
	margin-right: 30%;
	text-align: center;
}

textarea {
	resize: none;
	overflow: auto;
	font-family: Georgia, "Times New Roman", Times, serif;
	background: rgba(255, 255, 255, .1);
	border: none;
	border-radius: 4px;
	font-size: 16px;
	margin-left: 4%;
	outline: 0;
	padding: 7px;
	width: 500px;
	height: 300px;
	text-align: center;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	background-color: #e8eeef;
	color: black;
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
}

textarea {
	background: #d2d9dd;
}

#quizNaam {
	border: none;
	border-bottom: 2px solid red;
	font-size: 30px;
	text-align: center;
}

#timeText {
	border: none;
	border-bottom: 2px solid red;
	font-size: 30px;
}

.answers {
	-webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px
		rgba(0, 0, 0, 0.05);
	padding: 9px;
	border-radius: 50px;
	display: inline-block;
	position: relative;
	margin-left: 45%;
}

.answers:checked:after {
	content: ' ';
	width: 12px;
	height: 12px;
	border-radius: 50px;
	position: absolute;
	top: 3px;
	background: #ef8700;
	box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.3);
	text-shadow: 0px;
	left: 3px;
	font-size: 32px;
}

.answers:checked {
	background-color: #99a1a7;
	color: #99a1a7;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px
		rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1),
		inset 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.answers:active, .answers:checked:active {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px
		rgba(0, 0, 0, 0.1);
}

#nextQuestion {
	color: #fff;
	background-color: #6496c8;
	border: none;
	border-radius: 15px;
	box-shadow: 0 7px #27496d;
	margin-left: 38%;
}

#nextQuestion:hover {
	background-color: #417cb8
}

#nextQuestion:active {
	background-color: #417cb8;
	box-shadow: 0 5px #27496d;
	transform: translateY(5px);
}

#controleren {
	color: #fff;
	background-color: #6496c8;
	border: none;
	border-radius: 15px;
	box-shadow: 0 7px #27496d;
	margin-left: 38%;
}

#controleren:hover {
	background-color: #56c619
}

#controleren:active {
	background-color: #56c619;
	box-shadow: 0 5px #27496d;
	transform: translateY(5px);
}

#border {
	background: -webkit-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
	background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
	background: linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
	margin-top: 10%;
	margin-left: 33%;
	width: 550px;
	height: auto; font-family : Tahoma, Geneva, sans-serif;
	font-size: 14px;
	font-style: italic;
	line-height: 24px;
	font-weight: bold;
	color: #09C;
	text-decoration: none;
	border-radius: 10px;
	padding: 10px;
	border: 1px solid #999;
	border: inset 1px solid #333;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	display: block;
	font-family: Tahoma, Geneva, sans-serif;
}

@media only screen and (max-width: 760px) {
	table {
		margin-left: 0.5%;
		margin-top: 90%;
		margin-right: 22%;
		text-align: center;
	}
	#border {
		background: -webkit-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
		background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
		background: linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
		margin: auto;
		margin-top: 20%;
		width: auto;
		max-width: 300px;
		height: auto;
		font-family: Tahoma, Geneva, sans-serif;
		font-size: 14px;
		font-style: italic;
		line-height: 24px;
		font-weight: bold;
		color: #09C;
		text-decoration: none;
		border-radius: 10px;
		padding: 10px;
		border: 1px solid #999;
		border: inset 1px solid #333;
		-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
		-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
		box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
		display: block;
	}
	
	textarea {
		width: auto;
		margin-left: 15%;
		height: 200px;
	}
	
	#nextQuestion {
		margin-left: 30%;
		margin-top: 8%;
	}
	
	#controleren {
		margin-left: 30%;
		margin-top: 8%;
	}
	
	.answers {
		margin-left: 40%;
	}
	
	h1 {
		width: 90%;
	}
	
	#menu {
		width: 10%;
	}
}